body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px 20px;
  z-index: 1050;
  width: 100%;
  top: 0;
  position: fixed;
}
.header_icons {
  display: flex;
  gap: 30px;
  justify-content: end;
  margin: 10px 20px;
}
.header-icon {
  font-size: 20px;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-item {
  display: inline-block;
}
.nav-link {
  color: #ffffff;
  font-size: larger !important;
  text-decoration: none;
  margin: 0 10px;
}
.nav-link.active {
  color: #4badec;
  font-weight: bold;
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
  transition: background-color 0.3s ease-in-out;
}
.full-width-bg {
  background-image: url("../assets/Images/home_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 110px;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin-top: 100px;
}
.content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 0 15px;
}
.book-service {
  padding: 10px 30px;
}
.services {
  padding: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.services-desc {
  margin-bottom: 100px;
}
.custom-card {
  width: 240px;
  min-height: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}
.custom-card img {
  width: 100%;
  height: auto;
}
.custom-card p {
  margin: 15px;
  font-size: 16px;
  color: #000000;
}
.carousel-css {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.carousel-css-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-css-item {
  flex: 0 0 auto;
  padding: 10px;
}
.carousel-css-item img {
  width: 100%;
  height: auto;
}
.carousel-css-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  font-size: 20px;
  z-index: 1;
  border-radius: 5px;
}
.carousel-css-button:focus {
  outline: none;
}
.left-button-css-css {
  left: 0;
}
.right-button-css {
  right: 0;
}
.more p {
  color: #b6b6b6;
}
#aboutUs {
  padding: 100px;
  background-color: #282828;
}
#aboutUs {
  padding: 100px;
  text-align: center;
  margin: 50px auto;
}
.history-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.history-carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.history-carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}
.history-card {
  text-align: center;
}
.history-dot {
  display: inline-block;
  width: 75px;
  height: 7px;
  margin: 0 5px;
  background-color: #d9d9d9;
  cursor: pointer;
}
.history-dot.active {
  background-color: #4aabea;
}
.history-carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.history-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
}
.left-arrow {
  left: 10px;
}
.right-arrow {
  right: 10px;
}
.history-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#aboutUs h1 {
  margin-bottom: 60px;
}
.aboutUs-container {
  border: 2px solid #7ec7ff;
  height: 540px;
  width: 1070px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
.bg-gradient {
  background: linear-gradient(to right, #010001, #012d4b);
}
.nav-link {
  font-weight: bold;
  font-size: 14px;
}
.nav-link:hover {
  color: #7ec7ff;
}
#faqs {
  padding: 100px;
}
.faq-answers .answer {
  display: none;
}
.faq-answers .answer.active {
  display: block;
}
#faq-questions .list-group-item {
  cursor: pointer;
}
#faq-questions .list-group-item.active {
  background-color: #000000;
  color: #fff;
  border: #000000;
  border-radius: 5px;
}
.faq-view {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.accordion {
  margin: -70px 0px 50px 0px;
}
.accordion-button:not(.collapsed) {
  background-color: black !important;
  color: white !important;
}
.accordion-button {
  background-color: white !important;
  text-align: start;
  font-size: medium;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border: 1px solid lightgrey;
}
.accordion-body {
  border-bottom: 1px solid lightgrey;
  padding: 10px 15px 10px 15px;
}
.contactus-section {
  max-width: 1200px;
  margin: 0 auto;
}

/* add-on styles */
.slide-in-down {
  animation: slide-in-down 1s ease-in-out forwards;
}

.slide-in-up {
  animation: slide-in-up 2s ease-in-out forwards;
}

@keyframes slide-in-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.gradient-btn {
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  position: relative; /* To position the pseudo-elements */

  background: linear-gradient(to right, #4cafef, #2c6489);
  border: none;
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 16px;
  height: 46px;
}

.gradient-btn:hover {
  transform: scale(1.05);
}

.gradient-btn::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid rgba(255, 255, 255, 0.2); /* White pulse border */
  border-radius: inherit;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.05);
    opacity: 0;
  }
}
