body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.navbar-light {
  transition: 500ms ease;
  background-color: #ffffff;
}
.navbar-light a,
.navbar-light .navbar-nav .nav-item .nav-link,
.navbar-light .navbar-brand,
.navbar-light .toggle_button {
  color: #000000;
  margin-right: 30px;
}
#my-navbar {
  margin-top: 40px;
}
.top-bar {
  background-color: #000000;
  position: fixed;
  z-index: 1050;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 7px 0px;
}
.header-icon {
  font-size: 20px;
}
.header-button {
  margin: 0px 20px;
}
.header_icons {
  display: flex;
  padding: 0px 25px;
}
.gradient-btn {
  background: linear-gradient(to right, #4cafef, #2c6489);
  border: none;
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 16px;
}
.full-width-bg {
  background-image: url("../assets/Images/home_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 120px;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin-top: 120px;
}
.content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 0 15px;
}
.book-service {
  padding: 10px 30px;
}
.services {
  padding: 100px;
}
.services-desc {
  margin-bottom: 100px;
}
.custom-card {
  width: 240px;
  min-height: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}
.custom-card img {
  width: 100%;
  height: auto;
}
.custom-card p {
  margin: 15px;
  font-size: 16px;
  color: #000000;
}
.carousel-css {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.carousel-css-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-css-item {
  flex: 0 0 auto;
  padding: 10px;
}
.carousel-css-item img {
  width: 100%;
  height: auto;
}
.carousel-css-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  font-size: 20px;
  z-index: 1;
  border-radius: 5px;
}
.carousel-css-button:focus {
  outline: none;
}
.left-button-css-css {
  left: 0;
}
.right-button-css {
  right: 0;
}
.more p {
  color: #b6b6b6;
}
#history {
  padding: 100px;
  background-color: #282828;
}
#aboutUs {
  padding: 100px;
  text-align: center;
  margin: 50px auto;
}
.history-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.history-carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.history-carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
}
.history-card {
  text-align: center;
}
.history-dot {
  display: inline-block;
  width: 75px;
  height: 7px;
  margin: 0 5px;
  background-color: #d9d9d9;
  cursor: pointer;
}
.history-dot.active {
  background-color: #4aabea;
}
.history-carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.history-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
}
.left-arrow {
  left: 10px;
}
.right-arrow {
  right: 10px;
}
.history-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#aboutUs h1 {
  margin-bottom: 60px;
}
.aboutUs-container {
  border: 2px solid #7ec7ff;
  height: 540px;
  width: 1070px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
.bg-gradient {
  background: linear-gradient(to right, #010001, #012d4b);
}
.nav-link {
  font-weight: bold;
  font-size: 14px;
}
.nav-link:hover {
  text-decoration: underline;
  color: #7ec7ff;
}
#faqs {
  padding: 100px;
}
.faq-answers .answer {
  display: none;
}
.faq-answers .answer.active {
  display: block;
}
#faq-questions .list-group-item {
  cursor: pointer;
}
#faq-questions .list-group-item.active {
  background-color: #000000;
  color: #fff;
  border: #000000;
  border-radius: 5px;
}
.faq-view {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.contactus-section {
  max-width: 1200px;
  margin: 0 auto;
}
